@font-face {
	font-family: 'press_start_2pregular';
	src: url('../../../font/pressstart2p-webfont.woff2') format('woff2'),
	url('../../../font/pressstart2p-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

input {
	font-size: 24px;
}

body
{
  margin: 0;
  padding: 0;
  background-color: lightblue;
  color: #343434;
  font-family: 'press_start_2pregular';
  font-size: 24pt;

}

/* The Title */
#title {
	float: left;
	width: 60%;
    padding-top: 10px;
    margin: 5px;
    font-size: 14pt;
}

a {
    float: right;
    width: 25%;
    padding-top: 10px;
    margin: 5px;
    font-size: 14pt;
	color: red;
}

a:hover {
    color:pink;
}

.widescreen {
	height: 90vh;
	width: 90vw;
	/* width: calc(90vh * 2); */
	margin-left: auto;
	margin-right: auto;
}

/* .fullscreen{
	width: 90vw;
	height: calc(90vw / 2);
} */

#container {
    position: relative;
}

.hide {
	display: none;
}
#coverup {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

#coverup img {
	opacity: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

#playerInput #logoMain {
	position: absolute;
	width: 120%;
	height: auto;
	left: 35%;
	margin-left: -100px;
	margin-top: -60%;
}

#playerInput {
	position: absolute;
	top: 50%; 
	left: 45%;
	padding: 10px;
	margin-top: -50px;
	margin-left: -100px;
}

#submitButton {
	width: 50%;
	height: 40px;
	margin-left: 25%;
	border-radius: 25px;
	-moz-border-radius: 5px;
	/* -webkit-border-radius: 5px; */
}

#submitButton:hover {
	background-color: #2C99D4;
	color: white;
}


#name {
	text-align: center;
	height: 25px;
	margin: 10px;
}



#Setup {
	z-index: -1;
}

input {
	color: black;
}